body{
  background:#05141A;
}

.navContainer{
  height:50px;
  width:100%;
  background: #EDA1AB;

  img{
    height:30px;
    width:30px;
    margin-left: 0px;
  }

  .navName{
    color:white;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 130%;
    font-family: 'Press Start 2P', cursive;
    margin-right: 0px;
  }
}

.homeBackground{
  background-image:url("https://secure.static.tumblr.com/667aae89736c77b8d7420f874f04a9b8/u1absc7/LNRoa35eh/tumblr_static_filename_640_v2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 625px;


  .logo{
    height:300px;
    width:300px;
    border:1px solid black;
    margin: auto;
    border-radius: 100%;
    background: rgba(50, 50, 50, .9);
    border: 4px solid white;

    .logoTitle{
      text-align: center;
      font-family: 'Press Start 2P', cursive;
      color:white;
      font-size: 200%;
      margin-top: 30%;

      .dev{
        font-size: 50%;
        float:right;
        margin-right: 20%;
        color:#77F182;
      }
    }
  }
}

.bottomNavContainer{
  width:100%;
  height:35px;
  border-bottom:2px dashed white;

  .bottomNavItems{
    color:white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 80%;

    li{
      display:inline-block;
      margin-right: 5%;
      margin-left: 3%;

      a{
        color:white;
        text-decoration: none;
      }
      }
  }

  .bottomNavAbout:hover{
    color:#77F182;
    text-decoration: underline;

    a{
      color:#77F182;
      text-decoration: underline;
    }
  }

  .bottomNavProjects:hover{
    color:#F49177;
    text-decoration: underline;

    a{
      color:#F49177;
      text-decoration: underline;
    }
  }

  .bottomNavResume:hover{
    color:#DECDEF;
    text-decoration: underline;

    a{
      color:#DECDEF;
      text-decoration: underline;
    }
  }

  .bottomNavContact:hover{
    color:#7FE7F5;
    text-decoration: underline;

    a{
      color:#7FE7F5;
      text-decoration: underline;
    }
  }
}

.aboutMeTitle{
  color:white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin-top: 3%;
}

.aboutMePictureContainerContainer{
  width:500px;
  height:230px;
  margin: auto;
}

.aboutMePictureContainer{
  height:200px;
  width:200px;
  border-radius: 100%;
  margin: auto;
  margin-left: 15%;
  margin-top: 3%;
  background-image: url("https://pbs.twimg.com/media/C-CfbekXYAAAa9y.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  transition: all linear .5s;
  border:4px solid white;
  float:left;
}

.aboutMeDogContainer{
  height:100px;
  width:100px;
  border-radius: 100%;
  float:right;
  margin-right: 20%;
  margin-top: 23%;
  border: 4px solid white;
  background: #71879C;
  background-image: url("http://i.imgur.com/kNJUO7l.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all linear .5s;
}

.aboutMePictureContainer:hover{
  background-image: url("https://pbs.twimg.com/media/C-Cg9ZlUIAAeVwD.jpg");
  transition: all linear .5s;
}

.aboutMeDogContainer:hover{
  background-image: url("https://pbs.twimg.com/media/C93U21GXUAAJcN3.jpg:large");
  transition: all linear .5s;
}

.aboutMeNames{
  color:white;
  margin: auto;
  width:375px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-top: 3%;
}

.aboutMeCurrentName{
  display: inline;
  text-align: center;
}

.aboutMeArrowLeft{
  float:left;
}

.aboutMeArrowLeft:hover{
  color:red;
}

.aboutMeArrowRight{
  float: right;
}

.aboutMeArrowRight:hover{
  color:#77F182;
}

.aboutMeSummary{
  width:500px;
  border: 2px dashed white;
  margin: auto;
  margin-top:3%;
  padding:2%;
  border-radius: 5px;
  color:white;
  font-size: 120%;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 150%;
}

.aboutMeSkillsTitle{
  font-family: 'Press Start 2P', cursive;
  color:white;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  text-decoration: underline;
}

.skillsContainer{
  font-family: 'Press Start 2P', cursive;
  color:white;
  text-align: center;

  ul{
    padding-left: 0px;
    margin-left: 0px;
  }

  li{
    text-decoration: none;
    list-style: none;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
