
<div class="aboutMeTitle">Who Am I?</div>
<div class="aboutMePictureContainerContainer">
    <div class="aboutMePictureContainer"></div>
    <div class="aboutMeSpeechBubble"><p>Hover Me!</p></div>
    <div class="aboutMeDogContainer"></div>
</div>
<div class="aboutMeNames"> <span class="aboutMeArrowLeft" ng-click="AboutMeController.lastName()"> < </span>
    <div class="aboutMeCurrentName">{{AboutMeController.currentName}} </div> <span class="aboutMeArrowRight" ng-click="AboutMeController.nextName()"> > </span> </div>
<div class="aboutMeSummary">
    Hey there, welcome to my portfolio! My name is Tyler Laurenceau. I'm a twenty year old graduate of the Iron Yard programming bootcamp. When i'm not programming you can usually find me either longboarding with my friends, at the park with my dog Mango,
    working on a YouTube video or playing some video games. But when I am programming up a new project I always put my 100% best into it, using my keen attention to detail to ensure the site looks and functions to the best of my abilities. I started programming
    because I LOVE to create things that others can not only enjoy but also find useful, and creating software is the perfect way for me to achieve both of those goals.
</div>

<div class="aboutMeSkillsTitle">Skills</div>
<div class="skillsContainer">
    <ul>
        <li>- Test Driven Development -</li>
        <li>- JavaScript -</li>
        <li>- AngularJs -</li>
        <li>- JQuery -</li>
        <li>- HTML -</li>
        <li>- Sass -</li>
        <li>- CSS -</li>
        <li>- Git -</li>
    </ul>
</div>
