<div class = "contactMeTitle"> Contact Me! </div>
<div class = "contactMeContainer">
  <img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
  <img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
  <img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
  <img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
  <img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
  <img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
  <img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
  <img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
  <img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
  <img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>

<ul>
  <li>Phone<i class="fa fa-phone-square" aria-hidden="true"></i><br/> 470.269.5150</li>
  <li><a href="mailto:TylerSLaurenceau@gmail.com">Email<i class="fa fa-envelope" aria-hidden="true"></i></a> TylerSLaurenceau@gmail.com</li>
  <li><a href="https://github.com/TylerLaurenceau">GitHub<i class="fa fa-github-square" aria-hidden="true"></i></a><br/> TylerLaurenceau</li>
  <li><a href="https://www.linkedin.com/in/tyler-laurenceau-426462117/">LinkdIn<i class="fa fa-linkedin-square" aria-hidden="true"></i></a><br/> TylerLaurenceau</li>
</ul>

<img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
<img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
<img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
<img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
<img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
<img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
<img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
<img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
<img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
<img src="https://68.media.tumblr.com/452e56c75ad3f77a661b9aedf2840ab4/tumblr_npu1ae8kWk1rkvimbo1_500.gif"/>
</div>
