<div class="homeBackground">
    <div class="logo">
      <div class="logoTitle">"Hello<br/><br/>World"<br/><br/><span class = "dev">-Dev</span></div>
    </div>
  </div>
    <div class="bottomNavContainer">
        <ul class="bottomNavItems">
            <li class="bottomNavAbout"><a href = "#!/home/aboutMe">Who Am I?</a></li>
            <li class="bottomNavProjects"><a href = "#!/home/myProjects">Check Out My Projects!</a></li>
            <li class="bottomNavResume"><a href = "#!/home/myResume">Resume!</a></li>
            <li class="bottomNavContact"><a href = "#!">Contact Me!</a></li>
        </ul>
    </div>
    <div ui-view></div>
