<div class="myProjectsTitle"> Check Out My Projects! </div>
<div class="projectsContainer">
    <ul>
        <li>
            <div class="myProjectsPictureView"></div>
            <div class="myProjectsProjectTitleView"><a href="https://github.com/TylerLaurenceau/hackathon-frontend" target="_blank">View</a>:</div><br/><br/>
            <p class="myProjectsProjectDescriptionParagraph">A photo sharing site where users can post, like, and comment on pictures.</p>
            <li class="myProjectsProjectDescription">A teammate and I built this during a 3-day hackathon.</li>
            <li class="myProjectsProjectDescription">Uses HTML, Sass, and AngularJS for the front-end.</li>
        </li>
    </ul>

    <ul>
        <li>
            <div class="myProjectsPictureBarkSpark"></div>
            <div class="myProjectsProjectTitleBarkSpark"><a href="https://github.com/TylerLaurenceau/bark-spark" target="_blank">BarkSpark</a>:</div><br/><br/>
            <p class="myProjectsProjectDescriptionParagraph"> A dating site created to help dog lovers find other dog lovers. It also uses google maps integration to
                                                              show dog friendly locations, near the user.</p>
            <li class="myProjectsProjectDescription">Front-End is built with HTML, Sass, and AngularJS</li>
        </li>
    </ul>

    <ul>
        <li>
            <div class="myProjectsPictureLucid"></div>
            <div class="myProjectsProjectTitleLucid"><a href="https://github.com/TylerLaurenceau/Lucid-Demo" target="_blank">Lucid</a>:</div><br/><br/>
            <p class="myProjectsProjectDescriptionParagraph"> An object-oriented RPG-style battle system where users take turns battling with an AI.</p>
            <li class="myProjectsProjectDescription">Created using HTML, Sass, and Jquery to battle an AI that uses varying skills for different scenarios.</li>
        </li>
    </ul>

    <ul>
        <li>
            <div class="myProjectsPictureSouthBound"></div>
            <div class="myProjectsProjectTitleSouthBound"><a href="https://github.com/TylerLaurenceau/restaurant-project" target="_blank">South-Bound</a>:</div>
            <p class="myProjectsProjectDescriptionParagraph"> A well polished, modern restaurant website.</p>
            <li class="myProjectsProjectDescription">Built with HTML, Sass and Jquery and uses the Flickr API to pull photos requested by the client.</li>
        </li>
    </ul>

    <ul>
        <li>
            <div class="myProjectsPictureFestival"></div>
            <div class="myProjectsProjectTitleFestival"><a href="https://github.com/TylerLaurenceau/music-app" target="_blank">Festival</a>:</div><br/><br/>
            <p class="myProjectsProjectDescriptionParagraph"> A simple music site that pulls songs from soundcloud's API.</p>
            <li class="myProjectsProjectDescription">Built with HTML, Sass and Javascript.</li>
        </li>
    </ul>

    <div class = "github"> More Projects On <a href="https://github.com/TylerLaurenceau" target="_blank">GitHub</a><div class = "githubIcon"><i class="fa fa-github" aria-hidden="true"></i></div></div>


</div>
