<div class = "music hidden">
    <audio hidden controls autoplay loop>
  <source src="./images/dance.ogg" type="audio/ogg">
  <source src="./images/dance.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
</div>

<div class = "noPageTitle">WRONG ROOM! YOU WALKED IN ON A DANCE PARTY!!!</div>
<div class = "noPagePicContainer">
<div class = "noPagePic"><img src = "http://68.media.tumblr.com/aae2ab9bccd518420f90674356884d59/tumblr_o5hzrubi911udh5n8o1_500.gif"/></div>
<div class = "noPagePic"><img src = "http://i.imgur.com/4DJcvqZ.gif"/></div>
<div class = "noPagePic"><img src = "https://s-media-cache-ak0.pinimg.com/originals/00/8f/1b/008f1b72638f66224322471b526fe268.gif"/></div>
<div class = "noPagePic"><img src = "https://s-media-cache-ak0.pinimg.com/originals/e5/ea/97/e5ea97cf7cb0173c352e83efb37b77fa.gif"/></div>
<div class = "noPagePic"><img src = "https://68.media.tumblr.com/9dcd4bf5828741735b5e4624b93ae4c8/tumblr_nnfycd2NJc1rtbl5vo1_500.gif"/></div>
<div class = "noPagePic"><img src = "https://media.giphy.com/media/werVqqNW4mixG/giphy.gif"/></div>
<div class = "noPagePic"><img src = "https://media.giphy.com/media/U7l2ANkN9gl9e/giphy.gif"/></div>
<div class = "noPagePic"><img src = "https://s-media-cache-ak0.pinimg.com/originals/2a/45/c0/2a45c012aec6abcf5befc27532759a3f.jpg"/></div>
</div>

<div class = "backHome"><a href = "#!/home">Back To Home ></a></div>
